// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
  margin: 0 auto;
  // background-image: url(/images);
}
nav {
  position: relative;
  display: flex;
  height: 78px;
  width: 100%;
  background-color: #eee;
  justify-content: space-between;
  align-items: center;
  font-family: 'Shadows Into Light', cursive;
}

nav > h3 {
  margin-left: 10px;
  font-weight: bolder;
  font-size: 22px;
}

.session-btns {
  width: 120px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 15px;
  color: darkgray;
}

#search-btn > button {
  height: 20px;
  width: 120px;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  font-size: 15px;
}

.search-form {
  height: 30px;
  width: 370px;
  display: flex;
  align-content: center;
  font-size: 17px;
}

form.search-form button:nth-child(2) {
  float: left;
  width: 8%;
  padding: 10px;
  background: rgb(216, 212, 212);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
  margin-left: 1px;
  margin-right: 20px;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

form.search-form button:nth-child(3) {
  font-size: 13px;
  background-color: #eee;
  border-radius: 5px;
  border: 1px solid lightgrey;
}

form.search-form > input {
  background-color: rgb(249, 246, 246);
  border-radius: 5px;
  border: 1px solid lightgrey;
  font-size: 14px;
}

form.search button:hover {
  background: #0b7dda;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}
