@font-face {
  font-family: 'harry2';
  src: asset-url('HP.TTF');
}

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

#modal-bg-img {
  width: 425px;
  height: 140px;
}

.modal-child {
  width: 425px;
  height: 470px;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.modal-body>h1 {
  font-size: 26px;
  margin-top: 10px;
  font-family: 'harry2';
  color: sandybrown;
  text-shadow: 2px 2px 2px black;
  letter-spacing: 1px;
}

.close-x {
  position: absolute;
  cursor: pointer;
  left: 409px;
  top: 3px;
}

.modal-head {
  display: flex;
  justify-content: flex-end;
}

.modal-body>form {
  // background: lightgrey;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 10px;
}



.textarea {
  background: white;
  height: 100px;
  width: 340px;
  border: 1px solid lightgray;
  resize: none;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 5px;
}

.modal-input1 {
  height: 25px;
  border: 1px solid lightgrey;
  margin-top: 10px;
  border-radius: 4px;
  font-size: 16px;
  padding-left: 10px;
  padding-top: 4px;
  // color: lightgrey;
}

.modal-input2 {
  border: 1px solid lightgrey;
  margin-top: 20px;
  border-radius: 4px;
  text-align: center;
  background: orange;
  color: white;
  align-self: center;
  width: 165px;
  height: 30px;
  font-size: 18px;
  letter-spacing: 1px;
  font-size: 20px;
}