@font-face {
  font-family: 'harry2';
  src: asset-url('HP.TTF');
}

#project-show-bg {
  width: 100%;
  background-size: cover;
  height: 432px;
}

.proj-title {
  position: absolute;
  width: 100%;
  top: 105px;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 432px;
  font-family: 'harry2';
}

#proj-icon {
  width: 100px;
  height: 100px;
  border: 5px solid lightsteelblue;
  border-radius: 80px;
}

.proj-title-details {
  font-size: 15px;
  font-family: fantasy;
  display: flex;
  width: 250px;
  justify-content: space-evenly;
  margin-top: -29px;
}

//***************************//
//***** ProjectShowItem *****//
//***************************//
.proj-step-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-step-content > h3 {
  font-family: 'harry2';
  text-align: center;
}

.proj-step-content {
  width: 700px;
  font-size: 20px;
  line-height: 32px;
  font-family: Nunito,
  helvetica,
  arial,
  sans-serif;
  font-weight: 300;
  text-align: left;
  color: #555;
}