@font-face {
  font-family: 'harry2';
  src: asset-url('HP.TTF');
}

.proj-follow-link {
  font-size: 13px;
  line-height: 15px;
  font-family: 'harry2';
  letter-spacing: 1px;
  color: gray;
  margin-top: 15px;
  margin-left: 0;
}

.proj-follow-link:hover {
  color: rgba(255, 140, 0, 0.988);
  font-size: 17px;
}

#project-show-bg {
  width: 100%;
  background-size: cover;
  height: 432px;
}

.proj-link {
  width: 150px;
  display: flex;
  justify-content: center;
}

.proj-title {
  position: absolute;
  width: 100%;
  top: 105px;
  font-size: 30px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 432px;
  font-family: 'harry2';
}

.proj-title > h3 {
  font-weight: normal;
}

#proj-icon {
  width: 100px;
  height: 100px;
  border: 5px solid lightsteelblue;
  border-radius: 80px;
}

.proj-title-details {
  font-size: 15px;
  font-family: fantasy;
  display: flex;
  width: 150px;
  flex-flow: wrap;
  justify-content: center;
  margin-top: -20px;
}

.proj-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.proj-body>span {
  width: 700px;
  color: darkslategray;
  margin: 30px 0 15px 0;
  text-align: center;
  font-family: cursive;
  letter-spacing: 1px;
  font-size: 20px;
}

#proj-body-main-img {
  width: 700px;
  height: 500px;
  margin: 30px 0 30px 0;
}

//***************************//
//***** ProjectShowItem *****//
//***************************//
.proj-step-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.proj-step-content > h3 {
  font-family: 'harry2';
  text-align: center;
  letter-spacing: 2px;
}

.proj-step-content {
  width: 700px;
  font-size: 20px;
  line-height: 32px;
  font-family: Nunito,
  helvetica,
  arial,
  sans-serif;
  font-weight: 100;
  text-align: left;
  color: #555;
  padding: 30px;
}