// body {
//   margin: 0 auto;
// }

@font-face {
  font-family: 'harry2';
  src: asset-url('HP.TTF');
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}


#splash-bkgrd-img {
  width: 100%;
  background-size: cover;
  height: 591px;
}

.splash-dynamic-text {
  width: 100%;
  position: absolute;
  top: 317px;
  left: 0;
  display: flex;
  justify-content: center;
}

.splash-dynamic-text>form {
  display: flex;
}

.splash-dynamic-text>form>span {
  color: white;
  // font-weight: bold;
  font-size: 76px;
  font-family: 'harry2';
  text-shadow: 4px 2px black;
}

.splash-input>input {
  width: 410px;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 4px solid white;
  box-shadow: 0 2px;
}

.splash-input {
  position: relative;
  top: 60px;
  margin-left: 30px;
}

.splash-dyn-text {
  color: rgba(255, 140, 0, 0.988);
  font-size: 50px;
  text-shadow: 3px 2px black;
  font-family: 'harry2';
  margin-left: 40px;
  position: absolute;
  top: -54px;
  line-height: 1.5;
  border-right: 4px solid white;
  height: 52px;
  animation: blink .3s step-end infinite alternate;
  padding-right: 5px;
}