// Place all the styles related to the api/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body {
  margin: 0 auto;
}

.session-login-form {
  width: 100%;
}

.session-login-form>img {
  width: 100%;
  background-size: cover;
  height: 591px;
}

.session-login-form-box {
  position: absolute;
  top: 106px;
  width: 360px;
  height: 100%;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.empty-div {
  position: absolute;
  top: 0px;
  width: 360px;
  height: 590.99px;
  background: black;
  opacity: 0.3;
}

.session-login-form-content {
  position: absolute;
  top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 30px;
}

.session-login-form-content>span {
  color: white;
  text-shadow: 3px 2px black;
  font-family: 'harry2';
  font-size: 28px;
  letter-spacing: 3px;
}

.session-login {
  width: 300px;
}

.login-input,
.session-submit {
  width: 300px;
  height: 40px;
  padding: 0;
  border: 0;
  background: white;
  opacity: 1;
  border: 1px solid grey;
  border-radius: 4px;
}

.login-input::placeholder {
  font-size: 15px;
}

.session-submit {
  background: rgba(255, 140, 0, 0.988);
  font-size: 18px;
  color: white;
  text-align: center;
}

.session-login>span,
a {
  color: white;
  margin-left: 30px;
  text-decoration: none;
  font-size: 18px;
}

.errors {
  color: red;
  font-weight: bold;
  text-shadow: 3px 2px black;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
}

.unordered-errorlist {
  list-style: none;
}